body {
    background: #dddddd;
}

body,
html {
    height: 100%;
}

.page-container {
    margin-top: 75px;
}

#sidebar .nav-item {}

#sidebar .nav-item .nav-link {
    background-color: #ff4d00;
    margin: 15px 35px;
    text-align: center;
    border-radius: 35px;
    color: white;
}

.selected-sidebar-item {
    box-shadow: 6px 3px 3px black;
}

.card button {
    background-color: #ff4d00;
    border-radius: 15px;
    color: white;
}

#search-bar button {
    background-color: #ff4d00;
    border-radius: 5px;
    color: white;
}

.centered {
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
}