body {
    background: #dddddd;
}

body,
html {
    height: 100%;
}

.page-container {
    margin-top: 75px;
}

#profilePagetagOne{
    margin-left: 130px;
    margin-bottom: 10px;;
}


#sidebar .nav-item .nav-link {
    background-color: #ff4d00;
    margin: 15px 35px;
    text-align: center;
    border-radius: 35px;
    color: white;
}

.selected-sidebar-item {
    box-shadow: 6px 3px 3px black;
}

.card button {
    background-color: #ff4d00;
    border-radius: 15px;
    color: white;
}

.main-btn {
    background-color: #ff4d00;
    border-radius: 5px;
    color: white;
}

#search-bar button {
    background-color: #ff4d00;
    border-radius: 5px;
    color: white;
}

.centered {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#scheduleSelectMon{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0px;
}
#buttonGroup{
    flex-direction: column;
    background-color: #616366;
}

#rowSchedule .col{
    flex-basis: 0;
    max-width: 100%;
}



.scheduleButton{
    color: white;
}

.schedule-tag{
    margin-left: auto;
}


@media (min-width: 578px) {

    h2 {
        position: relative;
        color: #343A40;
        font-family: Georgia;
        text-align: center;
        font-size: 50px;
        margin: 100px auto 50px;
        width: 380px;
    }

    #loginButton {
        position: relative;
        background-color: #ff4d00;
        color: white;
        font-family: Georgia;
        text-align: center;
        padding: 10px 35px;
        border-radius: 5px;
        margin-top: 50px;
    }

    .form-group {
        width: 500px;
        margin: 40px 60px;
    }

    /* #createAccountButton{
        position: relative;
        background-color: #ff4d00;
        color: white;
        font-family: Georgia;
        text-align: center;
        padding: 10px 35px;
        border-radius: 5px;
        margin-top: 50px;
    } */
}

.account-settings-form {
    position: relative;
    left: 15%;
}

#updateAccountBtn {
    margin-left: 35%;
}

#scheduleSelectMon {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0px;
}

#buttonGroup {
    flex-direction: column;
    background-color: #616366;
}

.scheduleButton{

    color: white;
}

#fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #ff4d00;
    color: white;
    z-index: 999;
}

#fab:active {
    transform: translateY(2px);
    opacity: 0.8;
}

/**** Custom styles for noUiSlider ****/
.noUi-connect {
	background: #ff4d00;
}

#newItemRange {
    margin-top: 75px;
}
